.t-radio {
  cursor: pointer;
  font-size: var(--size-text);

  svg {
    font-size: calc(var(--size-text) + 4px);
    padding: var(--size-form-padding-top);
    padding-left: 10px;
    padding-right: 10px;
  }

  &.t-radio-lg {
    font-size: var(--size-text-lg);

    svg {
      font-size: calc(var(--size-text) + 6px);
      padding: calc(var(--size-form-padding-top-lg));
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
