.t-date-range-picker-overlay {
  border: 1px solid var(--color-primary);

  .t-date-range-picker-left-btn {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 1;
    font-size: 3em;
  }

  .t-date-range-picker-right-btn {
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 1;
    font-size: 3em;
  }
}

.t-date-range-picker-header-box {
  font-weight: bold;
  font-size: 22px;
  border: 1px solid var(--color-border);
  padding: 10px;
}
