.t-text {
  color: var(--color-first) !important;
}

.t-text-primary {
  color: var(--color-primay) !important;
}

.t-text-desc {
  color: var(--color-desc) !important;
}

.t-text-red {
  color: var(--color-red) !important;
}

.t-text-black {
  color: var(--color-black) !important;
}

.t-text-white {
  color: var(--color-white) !important;
}

.t-text-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.t-text-no-ellipsis {
  white-space: normal;
}

.t-text-bold {
  font-weight: bold;
}

.t-line-height-1 {
  line-height: 1;
}

.t-placeholder-text {
  &::placeholder {
    color: var(--color-placeholder);
  }
}
