:root {
  // 颜色相关
  --color-primay: #56a3f2;

  // 有层级关系，所以 first second
  --color-first: #333;
  --color-second: #798294;

  // 更抽象的颜色
  --color-desc: var(--color-second);
  --color-red: red;
  --color-white: white;
  --color-black: black;
  --color-placeholder: var(--color-second);

  --color-bg: white;
  --color-bg-back: #f7f8fa;
  --color-bg-primary: var(--color-primay);

  --color-border: #d4d8d8;

  // 尺寸相关
  --size-font-default: 16px;

  --size-one: 5px;
  --size-two: 10px;
  --size-there: 15px;
  --size-four: 20px;
  --size-five: 25px;
}
