@import './normalize.css';
@import './less/variable';

html,
body {
  font-family: 'Segoe UI', 'Lucida Grande', Helvetica, Arial, 'Microsoft YaHei',
    FreeSans, Arimo, 'Droid Sans', 'wenquanyi micro hei', 'Hiragino Sans GB',
    'Hiragino Sans GB W3', FontAwesome, sans-serif;
  font-size: var(--size-text);
  color: var(--color-first);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.t-svg-icon {
  font-size: 1em;
}

.t-body-scroll-disabled {
  overflow: hidden;
}

@import 'less/animation';
@import 'less/bg';
@import 'less/border';
@import 'less/display';
@import 'less/distance';
@import 'less/overflow';
@import 'less/position';
@import 'less/rotate';
@import 'less/text';
@import 'less/img';
@import 'less/cursor';
@import 'less/clearfix';

@import './components/selection/style';

@import './components/nprogress/style';
@import './components/button/style';
@import './components/loading/style';
@import './components/flex/style';
@import './components/icon_down_up/style';
@import './components/switch/style';
@import './components/tip/style';
@import './components/popup/style';
@import './components/list/style';
@import './components/modal/style';
@import './components/radio/style';
@import './components/tree/style';
@import './components/transfer/style';
@import './components/input/style';
@import './components/grid/style';
@import './components/calendar/style';
@import './components/date_range_picker/style';
@import './components/checkbox/style';
@import './components/dialog/style';
@import './components/drawer/style';
@import './components/tabs/style';

.t-box-shadow-bottom {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}
