.t-date-one-month {
  width: 971px;
  background: #d7dde9;

  .t-date-head {
    height: 100px;
    background: #fff;
  }

  .t-date-week {
    padding-left: 51px;
    width: 970px;
    height: 50px;
    background: #98a5c1;

    .t-date-week-item {
      width: 88px;
      margin-right: 44px;
      font-size: 24px;
    }
  }

  .t-date-content {
    padding: 20px 0 0 51px;

    .t-date-item-chose {
      background: #3d6cec;
      border: 2px solid #3d6cec;
      color: white;
    }

    .t-date-item {
      margin-bottom: 32px;
      margin-right: 44px;
      width: 88px;
      height: 90px;
      background: #fff;
      border-radius: 8px;
      border: 2px solid #d4d4e5;
      font-size: 42px;

      &:hover {
        .t-date-item-chose();
      }
    }

    .t-margin-right-40 {
      margin-right: 40px;
    }

    .t-data-item-disabled {
      visibility: hidden;
    }

    .t-data-item-nowTime {
      color: #e73b2e;
      border: 2px solid #e73b2e;
    }
  }
}
