@import '../node_modules/normalize.css/normalize.css';
@import './less/variable';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--size-text);
  color: var(--color-first);
}

.t-svg-icon {
  font-size: var(--size-text);
}

.t-body-scroll-disabled {
  overflow: hidden;
}

@import 'less/animation';
@import 'less/bg';
@import 'less/border';
@import 'less/display';
@import 'less/distance';
@import 'less/overflow';
@import 'less/position';
@import 'less/rotate';
@import 'less/text';
@import 'less/img';

@import './components/selection/style';

@import './components/button/style';
@import './components/loading/style';
@import './components/flex/style';
@import './components/icon_down_up/style';
@import './components/switch/style';
@import './components/tip/style';
@import './components/popup/style';
@import './components/list/style';
@import './components/modal/style';
@import './components/radio/style';
@import './components/tree/style';
@import './components/input/style';

.t-cursor {
  cursor: pointer;
}

.t-box-shadow-bottom {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}
