@import '../node_modules/normalize.css/normalize.css';
@import './less/variable';

html,
body {
  font-size: var(--size-font-default);
  color: var(--color-first);
}

.t-svg-icon {
  font-size: var(--size-font-default);
}

@import 'less/bg';
@import 'less/border';
@import 'less/display';
@import 'less/distance';
@import 'less/overflow';
@import 'less/position';
@import 'less/rotate';
@import 'less/text';
