.t-tree {
  border: 1px solid var(--color-border);

  .t-tree-filter {
    input {
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }

  .t-tree-group-item {
    padding: 3px 6px;

    .t-tree-group-item-expand {
      width: 2em;
      margin-left: -0.5em;
      padding-left: 0.5em;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .t-tree-list-item {
    padding: 3px 6px;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .t-tree-group-item {
    &.t-level-1 {
      padding-left: 2em;
    }

    &.t-level-2 {
      padding-left: 4em;
    }

    &.t-level-3 {
      padding-left: 6em;
    }

    &.t-level-4 {
      padding-left: 8em;
    }

    &.t-level-5 {
      padding-left: 10em;
    }
  }

  .t-tree-list-item {
    &.t-level-1 {
      padding-left: 3em;
    }

    &.t-level-2 {
      padding-left: 5em;
    }

    &.t-level-3 {
      padding-left: 7em;
    }

    &.t-level-4 {
      padding-left: 9em;
    }

    &.t-level-5 {
      padding-left: 11em;
    }
  }
}
