.t-selection {
  position: relative;
  vertical-align: middle;
  border: 1px solid var(--color-border);

  .t-selection-selected {
    display: block;
    padding: var(--size-form-padding);
    padding-right: calc(1em + 15px);
  }

  .t-selection-icon {
    position: absolute;
    display: block;
    line-height: 1;
    top: calc(var(--size-form-height) / 2 - 0.5em);
    right: 0.5em;
    color: var(--color-second);
  }

  &.disabled {
    opacity: 0.5;
  }
}
